numpy==1.21.4
streamlit-option-menu==0.3.2
scikit-learn==1.1.1
protobuf==3.20.1
sentencepiece==0.1.99
transformers==4.26.1
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
tensorflow==2.11.0
huggingface-hub==0.12.0
streamlit==1.18.0
Pillow==9.2.0
pipwin==0.5.2