numpy==1.21.4
scikit-learn==1.1.1
streamlit==1.18.0
Pillow==9.2.0
transformers==3.1.0

https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp37-cp37m-linux_x86_64.whl